.footer {
      background-color: #2d2d30;
      color: #f5f5f5;
      padding: -1px;
  }

  .body{
    background-image: url('/img/background.jpg');
  }
body{

 background: #eeeeee url("/img/background.jpg") no-repeat right top;

}
